<ion-content (window:resize)="onResize($event)">


    <div *ngIf="mOnMobileDevice" class="Mobile">
        <ion-grid class="grid-container">
            <ion-row class="header" align-items-center justify-content-between>
                <img src="assets/store/logo.png">
                <!-- <div class="btn-dangnhap"> Đăng nhập </div> -->
            </ion-row>
            <ion-row class="search-container" align-items-center>

                <ion-input type="text" placeholder="Tìm kiếm" clearInput></ion-input>

                <div class="button-search">
                    <ion-icon name="ios-search-outline"></ion-icon>
                </div>
            </ion-row>
            <ion-row justify-content-center>
                <ion-slides loop="true" pager style="max-width:480px">
                    <ion-slide><img src="assets/store/banner_1.png"></ion-slide>
                    <ion-slide><img src="assets/store/banner_2.png"></ion-slide>
                    <ion-slide><img src="assets/store/banner_3.png"></ion-slide>
                </ion-slides>
            </ion-row>
            <ion-row>
                <ion-col col-12 col-md-6 col-lg-4 *ngFor="let category of categories">
                    <div class="category-header">
                        <div> {{category.title}} </div>
                        <div class="header-button-more" (tap)="onClickViewMore(category)"> Xem thêm </div>
                    </div>

                    <ion-row class="row-games">
                        <ion-col col-4 col-md-3 text-center *ngFor="let item of category.items">
                            <div class="item-container" (click)="onClickItem(item)">
                                <div class="item-icon">
                                    <img src={{item.icon}}>
                                </div>
                                <div class="item-name"> {{item.name}}</div>

                            </div>
                        </ion-col>

                    </ion-row>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>

    <div *ngIf="!mOnMobileDevice" class="Tablet">
        <ion-grid class="grid-container">
            <ion-row class="header" align-items-center justify-content-between>
                <img src="assets/store/logo.png">
                <ion-row class="search-container a3-flex-1" align-items-center>
                    <ion-input type="text" placeholder="Tìm kiếm" clearInput></ion-input>
                    <div class="button-search">
                        <ion-icon name="ios-search-outline"></ion-icon>
                    </div>
                </ion-row>
                <div class="btn-dangnhap"> Đăng nhập </div>
            </ion-row>

            <ion-row justify-content-center>
                <ion-slides loop="true" pager style="max-width:480px">
                    <ion-slide><img src="assets/store/banner_1.png"></ion-slide>
                    <ion-slide><img src="assets/store/banner_2.png"></ion-slide>
                    <ion-slide><img src="assets/store/banner_3.png"></ion-slide>
                </ion-slides>
            </ion-row>

            <ion-row class="row-category">
                <div *ngFor="let category of categories" class="category-segment" [class.segment-selected]="category.id==mSelectedCategory.id" (click)="onSelectCategory(category)">{{category.title}}</div>
            </ion-row>
            <ion-row>
                <ion-col>
                    <div class="category-header">
                        <div> Danh sách </div>
                    </div>

                    <ion-row class="row-games" id="listGameContainer">
                        <ion-col col-4 col-md-3 col-lg-2 text-center *ngFor="let item of mSelectedCategory.items">
                            <div class="item-container" (click)="onClickItem(item)">
                                <div class="item-icon">
                                    <img src={{item.icon}}>
                                </div>
                                <div class="item-name"> {{item.name}}</div>

                            </div>
                        </ion-col>

                    </ion-row>
                </ion-col>
            </ion-row>
        </ion-grid>




    </div>

    <div style="height:20px"> </div>


    <div class="footer-home footer-overlay">
        <span class="footer-item">@2017 App In Asia</span>
        <span class="footer-item">Điều khoản dịch vụ</span>
        <span class="footer-item">Chính sách bảo mật</span>
    </div>
</ion-content>